<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>mmartan teste</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md bg-white fixed-top">
      <a class="navbar-brand" href="#" style="text-decoration: none; color: black; font-size: 1.50rem;">mmartan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0" style="margin-left: auto;" method="POST" action="/produtos/search">
          <input class="form-control mr-sm-2" style="border-radius: 3.25rem;" type="text" placeholder="Search" aria-label="Search">
          
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">